<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.treinamento.treinamento.mapper.FilialMapper">

    <resultMap id="filialMap" type="br.com.treinamento.treinamento.model.Filial" >
        <result column="f_id" property="id"/>
        <result column="f_nome" property="nome"/>
    </resultMap>

    <select id="recuperar" resultType="br.com.treinamento.treinamento.model.Filial" parameterType="int">
          SELECT * FROM filial WHERE id = #{id}
    </select>

    <select id="recuperarTodos" resultType="br.com.treinamento.treinamento.model.Filial">
          SELECT * FROM filial
    </select>

    <insert id="inserir" parameterType="br.com.treinamento.treinamento.model.Filial" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into filial (id, nome) values (NULL ,#{nome})
    </insert>

    <update id="atualizar" parameterType="br.com.treinamento.treinamento.model.Filial">
        update filial set nome = #{nome} where id = #{id}
    </update>

    <delete id="apagar" parameterType="br.com.treinamento.treinamento.model.Filial">
        delete from filial where id = #{id}
    </delete>

</mapper>